.title-wrapper {
	margin: 3% 0;
}
.title-wrapper .title {
	text-align: center;
    color: #81c784;
    font-weight: bold;
	text-shadow: 3px 3px 3px #ba68c8;
}
.title-wrapper .title:hover {
	text-align: center;
	color: #ba68c8;
	font-style: italic;
	font-weight: bold;
	text-shadow: 3px 3px 3px #81c784;
}

.gallery-title {
	margin: 5% 0 3% 0;
}
.gallery-title .title {
	text-align: center;
    color: #81c784;
    font-weight: bold;
	text-shadow: 3px 3px 3px #ba68c8;
}
.gallery-title .title:hover {
	text-align: center;
	color: #ba68c8;
	font-style: italic;
	font-weight: bold;
	text-shadow: 3px 3px 3px #81c784;
}
.gallery-title .btn {
	border: 1px solid #81c784;
	color: #81c784;
}
.gallery-title .btn:hover {
	border: 1px solid #81c784;
	background-color: #81c784;
	color: #fff;
}

.img-wrapper {
	border-left: 3px solid #81c784;
	border-top: 3px solid #81c784;
	border-right: 3px solid #ba68c8;
	border-bottom: 3px solid #ba68c8;
    background-color: #212529;
	width: 100%;
    height: 75vh;
	margin: 0 0 5% 0 ;
    overflow: scroll;
} 
.img-wrapper:hover {
	border-left: 3px solid #ba68c8;
	border-top: 3px solid #ba68c8;
	border-right: 3px solid #81c784;
	border-bottom: 3px solid #81c784;
} 
.img-wrapper .alert {
	width: 95%;
    height: 15%;
	margin: 3%;
    text-align: center;
	font-weight: bold;
}
.img-wrapper .alert:hover {
	font-style: italic;
}
.img-card {
    margin: 5px;
    text-align: center;    
    cursor: pointer;
}
.img-card:hover {
	border: 5px solid #81c784;
	border-radius: 3%;
	transform: scale(1.1);
    transition: 2s;
}
.img-card .img {
    width: 300px;
    height: 100px;
}
.img-card .img-body .title {
	text-align: center;
    color: #ba68c8;
}
.img-card .img-wrapper-btn .carry-send {
	width: 100%;
	margin-bottom: 3%;
	border: 1px solid #81c784;
	color: #81c784;
}
.img-card .img-wrapper-btn .carry-send:hover {
	border: 1px solid #81c784;
	background-color: #81c784;
	color: #fff;
}
.img-card .img-wrapper-btn .del-img {
	width: 100%;
	margin-bottom: 3%;
	border: 1px solid #e57373;
	color: #e57373;
}
.img-card .img-wrapper-btn .del-img:hover {
	border: 1px solid #e57373;
	background-color: #e57373;
	color: #fff;
}
.imgVidButton-wrapper {
	margin: 0 0 3% 0;
}
.imgVidButton-wrapper .title {
	text-align: center;
    color: #81c784;
    font-weight: bold;
	text-shadow: 3px 3px 3px #ba68c8;
}
.imgVidButton-wrapper .title:hover {
	text-align: center;
	color: #ba68c8;
	font-style: italic;
	font-weight: bold;
	text-shadow: 3px 3px 3px #81c784;
}
.imgVidButton-wrapper .btn {
	border: 1px solid #81c784;
	color: #81c784;
}
.imgVidButton-wrapper .btn:hover {
	border: 1px solid #81c784;
	background-color: #81c784;
	color: #fff;
}

.img-port-wrapper {
	border-left: 3px solid #81c784;
	border-top: 3px solid #81c784;
	border-right: 3px solid #ba68c8;
	border-bottom: 3px solid #ba68c8;
	margin: 0 0 5% 0;
	background: #212529;
}
.img-port-wrapper:hover {
	border-left: 3px solid #ba68c8;
	border-top: 3px solid #ba68c8;
	border-right: 3px solid #81c784;
	border-bottom: 3px solid #81c784;
}
/* .img-port-wrapper .img-port .alert {
	margin: 3%;
    text-align: center;
	font-weight: bold;
}
.img-port-wrapper .img-port .alert:hover {
	font-style: italic;
} */
.img-port-wrapper .img-port .title {
	margin: 0 0 1% 0;
	text-align: center;
    color: #81c784;
    font-weight: bold;
	text-shadow: 3px 3px 3px #ba68c8;
}
.img-port-wrapper .img-port .title:hover {
	text-align: center;
	color: #ba68c8;
	font-style: italic;
	font-weight: bold;
	text-shadow: 3px 3px 3px #81c784;
}
.img-port-wrapper .img-port .form-group {
	width: 100%;
	padding: 3%;
	margin-bottom: 3%;
}
.img-port-wrapper .img-port .form-group label {
	color: #81c784;
    font-weight: bold;
}
.img-port-wrapper .img-port .form-group input {
	width: 100%;
    color: #ba68c8;
}
.img-port-wrapper .img-port .button-wrapper {
	border-top: 3px solid #81c784;
	padding: 3%;
	display: flex;
	justify-content: flex-end;
}
.img-port-wrapper .img-port .button-wrapper:hover {
	border-top: 3px solid #ba68c8;
}
.img-port-wrapper .img-port .button-wrapper .btn {
	border: 1px solid #81c784;
	color: #81c784;
}
.img-port-wrapper .img-port .button-wrapper .btn:hover {
	border: 1px solid #81c784;
	background-color: #81c784;
	color: #fff;
}

.save-title-wrapper {
	margin: 3% 0;
}
.save-title-wrapper .title {
	text-align: center;
    color: #81c784;
    font-weight: bold;
	text-shadow: 3px 3px 3px #ba68c8;
}
.save-title-wrapper .title:hover {
	text-align: center;
	color: #ba68c8;
	font-style: italic;
	font-weight: bold;
	text-shadow: 3px 3px 3px #81c784;
}
.save-title-wrapper .btn {
	border: 1px solid #81c784;
	color: #81c784;
}
.save-title-wrapper .btn:hover {
	border: 1px solid #81c784;
	background-color: #81c784;
	color: #fff;
}

.form-wrapper {
	border-left: 3px solid #81c784;
	border-top: 3px solid #81c784;
	border-right: 3px solid #ba68c8;
	border-bottom: 3px solid #ba68c8;
	margin: 0 0 3% 0;
	padding: 5%;
	background-color: #121212;
}
.form-wrapper:hover {
	border-left: 3px solid #ba68c8;
	border-top: 3px solid #ba68c8;
	border-right: 3px solid #81c784;
	border-bottom: 3px solid #81c784;
}
.form-wrapper .alert {
    background-color: #d1e7dd;
    border-color: #badbcc;
	text-align: center;
	color: #0f5132;
	font-style: italic;
	font-weight: bold;
}
.form-wrapper .form .form-group {
	margin-bottom: 3%;
}
.form-wrapper .form .form-group label {
	color: #81c784;
    font-weight: bold;
}
.form-wrapper .form .form-group input {
	border: 1px solid #81c784;
	background-color: #121212;
	color: #ba68c8;
}
.form-wrapper .form .form-group input:hover {
	border: 1px solid #ba68c8;
	color: #81c784;
} 
.form-wrapper .form .form-group textarea {
	border: 1px solid #81c784;
	background-color: #121212;
	color: #ba68c8;
}
.form-wrapper .form .form-group textarea:hover {
	border: 1px solid #ba68c8;
	color: #81c784;
} 
.form-wrapper .form .form-group .btn {
	margin-bottom: 1%;
	border: 1px solid #81c784;
	color: #81c784;
}
.form-wrapper .form .form-group .btn:hover {
	border: 1px solid #81c784;
	background-color: #81c784;
	color: #fff;
}
.form-wrapper .form .button-wrapper {
	margin-top: 5%;
	display: flex;
	justify-content: flex-end;
}
.form-wrapper .form .button-wrapper .btn {
	border: 1px solid #81c784;
	color: #81c784;
}
.form-wrapper .form .button-wrapper .btn:hover {
	border: 1px solid #81c784;
	background-color: #81c784;
	color: #fff;
}

.update-form-wrapper {
	border-left: 3px solid #81c784;
	border-top: 3px solid #81c784;
	border-right: 3px solid #ba68c8;
	border-bottom: 3px solid #ba68c8;
	margin-bottom: 5%;
	padding: 5%;
	background-color: #121212;
} 
.update-form-wrapper:hover {
	border-left: 3px solid #ba68c8;
	border-top: 3px solid #ba68c8;
	border-right: 3px solid #81c784;
	border-bottom: 3px solid #81c784;
}
.update-form-wrapper .title {
	margin-bottom: 3%;
	text-align: center;
    color: #81c784;
    font-weight: bold;
	text-shadow: 3px 3px 3px #ba68c8;
}
.update-form-wrapper .title:hover {
	text-align: center;
	color: #ba68c8;
	font-style: italic;
	font-weight: bold;
	text-shadow: 3px 3px 3px #81c784;
}
.update-form-wrapper .id-wrapper {
	border-bottom: 3px solid #ba68c8;
	margin-bottom: 5%;
}
.update-form-wrapper .id-wrapper:hover {
	border-bottom: 3px solid #81c784;
}
.update-form-wrapper .id-wrapper .id {
	text-align: justify;
	color: #ba68c8;
	font-style: italic;
}
.update-form-wrapper .id-wrapper .id:hover {
	color: #81c784;
}
.update-form-wrapper .update-form .form-group {
	margin-bottom: 3%;
}
.update-form-wrapper .update-form .form-group label {
	color: #81c784;
    font-weight: bold;
}
.update-form-wrapper .update-form .form-group input {
	border: 1px solid #81c784;
	background-color: #121212;
	color: #ba68c8;
}
.update-form-wrapper .update-form .form-group input:hover {
	border: 1px solid #ba68c8;
	color: #81c784;
} 
.update-form-wrapper .update-form .form-group textarea {
	border: 1px solid #81c784;
	background-color: #121212;
	color: #ba68c8;
}
.update-form-wrapper .update-form .form-group textarea:hover {
	border: 1px solid #ba68c8;
	color: #81c784;
} 
.update-form-wrapper .update-form .form-group .btn {
	margin-bottom: 1%;
	border: 1px solid #81c784;
	color: #81c784;
}
.update-form-wrapper .update-form .form-group .btn:hover {
	border: 1px solid #81c784;
	background-color: #81c784;
	color: #fff;
}
.update-form-wrapper .update-form .button-wrapper {
	margin-top: 5%;
	display: flex;
	justify-content: flex-end;
}
.update-form-wrapper .update-form .button-wrapper .edit {
	border: 1px solid #fff176;
	color: #fff176;
}
.update-form-wrapper .update-form  .button-wrapper .edit:hover {
	border: 1px solid #fff176;
	background-color: #fff176;
	color: #333;
}
.update-form-wrapper .update-form .button-wrapper .exit {
	margin-left: 1%;
	border: 1px solid #e57373;
	color: #e57373;
}
.update-form-wrapper .update-form  .button-wrapper .exit:hover {
	border: 1px solid #e57373;
	background-color: #e57373;
	color: #333;
}

.project-list-wrapper {
	border-left: 3px solid #81c784;
	border-top: 3px solid #81c784;
	border-right: 3px solid #ba68c8;
	border-bottom: 3px solid #ba68c8;
	background-color: #121212;
	width: 100%;
	height: 75vh;
	margin-bottom: 5%;
	overflow: scroll;
}
.project-list-wrapper:hover {
	border-left: 3px solid #ba68c8;
	border-top: 3px solid #ba68c8;
	border-right: 3px solid #81c784;
	border-bottom: 3px solid #81c784;
}
/* .project-list-wrapper .list-group {
	background-color: #121212;
} */
.project-list-wrapper .list-group .list-group-item {
	border-bottom: 3px solid #81c784;
	background-color: #121212;
	color: #81c784;
	font-weight: bold;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
} 
.project-list-wrapper .list-group .list-group-item:hover {
	border-bottom: 3px solid #ba68c8;
	font-style: italic;
	color: #ba68c8;
} 
.project-list-wrapper .list-group .list-group-item .edit {
	border: 1px solid #fff176;
	color: #fff176;
}
.project-list-wrapper .list-group .list-group-item .edit:hover {
	border: 1px solid #fff176;
	background-color: #fff176;
	color: #333;
}
.project-list-wrapper .list-group .list-group-item .delete {
	border: 1px solid #e57373;
	color: #e57373;;
}
.project-list-wrapper .list-group .list-group-item .delete:hover {
	border: 1px solid #e57373;
	background-color: #e57373;
	color: #333;
}
